.sitealertinfo {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    margin: 0 !important;
    z-index: 999;
    opacity: 0;
    border-radius: 0;
    transform: translateY(-100%);
    /* transform: translateX(100%); */
    transition: all 200ms ease-out;
    color: #ecf0f1;
    background: #212327;
}

.sitealertinfo.show {
    opacity: 1;
    /* transform: translateX(0%); */
    transform: translateY(0%);
    transition-delay: 50ms;
}

.sitealertinfo a {
    text-decoration: underline;
    color: gold;
}

.sitealertinfo a:hover {
    text-decoration: underline;
    color: goldenrod;
}

.sitealertinfo .acceptcookies {
    margin-left: 10px;
    vertical-align: baseline;
}

.btn{
    background-color:gold;
    color: black;
}

.btn:hover{
    background-color: goldenrod;
    color: black;
}
