body {
    font-family: Verdana,Geneva,sans-serif;
    background-color: #cacaca;
}

main {
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
}

main > article {
    background-color: white;
    padding: 0 20px;
}

.login-form {
    background-color: white;
}

.event-form{
    background-color: white;
}

footer {
    background-color: white;
    margin-top: 10px;
    padding: 20px;
    text-align: center;
}

.logo{
    width: 150px;
}

nav > div > ul > li > a:hover, .active{
    text-decoration: underline  !important;
}

nav > div > ul > li > a:hover{
    background-color: goldenrod !important;
}

.table-hover > tbody > tr:hover{
    background-color: goldenrod !important;
    cursor: pointer;
}

.clickable-random-event:hover{
    cursor: pointer;
}

.navbar-eventi{
    padding-left: 0;
    padding-right: 0;
}

.user-icon{
    width: 35px !important;
    padding-top: 2px !important;
    margin: 0 !important;
}

.text-icon{
    margin-left: 15px;
}

nav > div ul > li > a > img{
    width: 40px !important;
    padding: 0 !important;
    margin: 0 !important;
    
}

main > article {
    padding-bottom: 10px;
}

main > article > header > div > img {
    margin: 10px 0;
}

main > article > header > h2 {
    border-top: goldenrod solid 3px ;
    padding-top: 5px;
}

footer > a > img {
    width: 20px;
}

.form-control:focus{
    box-shadow: none !important;
}

.square{
    background-color: white;
    text-align: center;
    vertical-align: middle;
}

footer > a > img:hover{
    background-color: goldenrod;
    cursor: pointer;
}

.red{
    background-color: red;
    color: white;;
}

.red:hover{
    background-color: #7f0000;
    color: white;;
}

.checkbox {
    /* Double-sized Checkboxes */
    -ms-transform: scale(2); /* IE */
    -moz-transform: scale(2); /* FF */
    -webkit-transform: scale(2); /* Safari and Chrome */
    -o-transform: scale(2); /* Opera */
    transform: scale(2);
    padding: 10px;
}

.acquisto {
    background-color: #cacaca;
}
.nbiglietti {
    border: 5px dashed  white;
    border-color: white;
}

.pointer {
    cursor: pointer;
}

.cardImg{
    width: 280px;
    /* height: 150px; */
    display: block;
    margin-left: auto;
    margin-right: auto;
}

thead > tr > th{
    background-color: #f8f9fa !important;
    border-color: goldenrod !important;
    border-top: none !important;
    border-radius: 5px;
}

.hide-column{
    display: none !important;
}

.inseriscievento-btn{
    margin-bottom: 2% !important;
    text-align: left !important;
}

.user-table{
    font-size: 92% !important;
}

.img-locandina{
    width: 95% !important;
}

.img-locandina-icona{
    height: 5% !important;
}

.text-justify{
    text-align: justify !important;
}

.btn-carrello{
    margin: 2% 0 !important;
}

.btn-evento{
    margin: 2% 0 !important;
}

.selectimage{
    /* padding-left: 1%; */
    font-size: 85%;
}

.disattivaUtente > td, .attivaUtente > td{
        max-width: 100px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
}

@media (min-width: 768px){
    
    .disattivaUtente > td, .attivaUtente > td, .disattivaEvento > td:not(:last-child), .attivaEvento > td:not(:last-child){
        max-width: 100px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    .disattivaUtente > td, .attivaUtente > td, .disattivaEvento > td:last-child, .attivaEvento > td:last-child{
        max-width: 50px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    .selectimage{
        /* padding-left: 1%; */
        font-size: 100%;
    }

    .navbar-collapse .text-icon {
        display: none;
      }
      .hide-column{
        display: table-cell !important;
    }

    .btn-carrello{
        margin: 0 2% !important;
    }

    .btn-evento{
        margin: 0 2% !important;
    }

    .img-locandina{
        width: 80% !important;
    }

    .label-eventi{
        margin-left: 5%;
    }
    .user-table{
        font-size: 100% !important;
    }

    .inseriscievento-btn{
        margin-bottom: 0.5% ;
        text-align: left;
    }

}

@media screen and (min-width: 576px) and (max-width: 1024px){

    .cardImg{
        width: 140px;
        /* height: 150px; */
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}